 -------------------------------- 

Primary style

-------------------------------- */
/*html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Lora", serif;
  color: #fbfbfb; 
  background-color: #3c3c3c;
}*/

/* -------------------------------- 

Main components 

-------------------------------- */
/*header {
  height: 200px;
  line-height: 200px;
  text-align: center;
  background: #2d313f;
}
header h1 {
  color: #fbfbfb;
  font-size: 20px;
  font-size: 1.25rem;
}*/
/*@media only screen and (min-width: 768px) {
  header {
    height: 300px;
    line-height: 300px;
  }
}*/

/*#google-container {
  position: relative;
  width: 70%;
  height: 200px;
  margin: auto;
  background-color: #d36868;
}*/
/*@media only screen and (min-width: 768px) {
  #google-container {
    height: 300px;
  }
}
@media only screen and (min-width: 1170px) {
  #google-container {
    height: 600px;
  }*/
}

/*#cd-google-map {
  position: relative;
  margin: auto;
  padding: 55px 0;
}*/
/*#cd-google-map address {
  position: absolute;
  width: 70%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 1em 1em;
  background-color: #ce9a00;
  color: #fbfbfb;
  font-size: 13px;
  font-size: 0.8125rem;
  opacity : 0.9;
  text-align: center;
}*/
/*@media only screen and (min-width: 768px) {
  #cd-google-map address {
    font-size: 15px;
    font-size: 0.9375rem;
    text-align: center;
  }
}
*/
/*#cd-zoom-in, #cd-zoom-out {
  height: 32px;
  width: 32px;
  cursor: pointer;
  margin-left: 10px;
  background-color: #ce9a00;
  opacity : 0.7;
  background-repeat: no-repeat;
  background-size: 32px 64px;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-controller.svg");
}*/
/*.no-touch #cd-zoom-in:hover, .no-touch #cd-zoom-out:hover {
  background-color: #000;
}*/
/*@media only screen and (min-width: 768px) {
  #cd-zoom-in, #cd-zoom-out {
    margin-left: 50px;
  }
}

#cd-zoom-in {
  background-position: 50% 0;
  margin-top: 10px;
  margin-bottom: 1px;
}
@media only screen and (min-width: 768px) {
  #cd-zoom-in {
    margin-top: 50px;
  }
}

#cd-zoom-out {
  background-position: 50% -32px;
}
