.demo-ribbon {
  width: 100%;
  height: 34vh;
  background-color: #fbfbfb;
  flex-shrink: 0;
  overflow: hidden;
}

.demo-main {
  margin-top: -35vh;
  flex-shrink: 0;
}

.demo-header .mdl-layout__header-row {
  padding-left: 40px;
}

/*.demo-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}
*/
.demo-content {
  /*border-radius: 2px;*/
  padding: 0px 56px 80px;
}

.demo-layout.is-small-screen .demo-content {
  padding: 0px 28px 40px;
}

.demo-content h3 {
  margin-top: 48px;
}

.demo-footer {
  padding-left: 40px;
}

.demo-footer .mdl-mini-footer--link-list a {
  font-size: 13px;
}

.mdl-textfield {
  width: 100%
}

.mdl-textfield.is-invalid .mdl-textfield__input {
    border-color: #020202;
    box-shadow: none;
}

.demo-container{
  width: 900px;
}

.mdl-textfield__input {
    border: none;
    border-bottom: 2px solid rgb(152, 152, 152);
    display: block;
    font-size: 16px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
    padding: 4px 0;
    width: 100%;
    background: 0 0;
    text-align: left;
    color: inherit;
}
/*.mdl-textfield__input:hover {
    border: none;
    border-bottom: 2px solid rgba(59, 44, 1, 0.36);
    display: block;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif !important;
    margin: 0;
    padding: 4px 0;
    width: 100%;
    background: 0 0;
    text-align: left;
    color: inherit;
}*/

.success-help {
  padding: 0 15px;
  vertical-align: 0px;
  display: none;
  font-size: 16px;
  color: #444;
}

.mdl-spinner {
  vertical-align: middle;
  margin: 0px 10px;
  display: none;
}